* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #212121;
  text-decoration: none;
  font-style: normal;
}

/* Index */

body {
  font-family: "Roboto", "Raleway", "sans-serif";
  background-color: #e5e5e5;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

/* Modal section */

.modal-backdrop {
  background-color: #00000033;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  transition: ease-in;
  transition-duration: 250ms;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 700;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: ease-in;
  transition-duration: 250ms;
  transform: translate(0%, 50%);
}

/* Form section */

form {
  width: 448px;
  margin: 0 auto;
}

.form-icon {
  position: absolute;
}

.form-icon-position1 {
  top: 104px;
  left: 52px;
}

.form-icon-position2 {
  top: 172px;
  left: 52px;
}

.form-icon-position3 {
  top: 240px;
  left: 52px;
}

.form-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: #757575;
}

.modal-form input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.modal-form input:focus,
.modal-form textarea:focus {
  outline: none;
  border-color: #2196f3;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.form-input:focus-within svg {
  fill: #2196f3;
}

.modal-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  padding: 10px 76px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.link-color {
  color: #2196f3;
  text-decoration: underline;
}

/* Custom checkbox */
.checkbox-symbol {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.checkbox-container {
  background: #ffffff;
  color: #222;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.checkbox-input {
  position: absolute;
  visibility: hidden;
}

.checkbox {
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  display: flex;
}

.checkbox:not(:last-child) {
  margin-right: 6px;
}

.checkbox span {
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox span:first-child {
  position: relative;
  flex: 0 0 18px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.checkbox span:last-child {
  color: #757575;
}

.checkbox span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: #ffffff;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transform: translate3d(0, 0, 0);
}

.checkbox span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox:hover span:first-child {
  border-color: #0077ff;
}

.checkbox-input:checked + .checkbox span:first-child {
  background: #0077ff;
  border-color: #0077ff;
}

.checkbox-input:checked + .checkbox span:first-child svg {
  stroke-dashoffset: 0;
}

@keyframes zoom-in-out {
  50% {
    transform: scale(0.9);
  }
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.header {
  padding: 25px 27px 24px 15px;
  display: flex;
  gap: 93px;
  align-items: center;
}
.header-logo {
  font-family: "Raleway";
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-secondary-color {
  color: #000000;
}

.menu-nav {
  width: 254px;
  font-size: 14px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-between;
}

nav a:hover,
nav a:focus {
  color: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  transform: translateY(29px);
  border-radius: 2px;
}

.header-icon {
  margin-right: 10px;
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-contacts a {
  color: #757575;
  display: flex;
  align-items: center;
}

.header-contacts a:hover,
a:focus,
.header-icon:hover {
  color: #2196f3;
  fill: #2196f3;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.welcome-section-background {
  background-color: #2f303a;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../images/welcome-section-background-image.jpg);
}

.welcome-section {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

.welcome-section-text {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 200px 252px 0;
  margin: 0 auto;
}

.welcome-section-button {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 41px 10px 42px;
  margin: 0 auto 200px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
}

.main-page {
  display: flex;
  flex-direction: column;
}
.article {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.article ul {
  display: flex;
  gap: 30px;
}

.article-logo {
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.article-header {
  font-weight: 700;
}
.article-paragraph {
  color: #757575;
}

.what-we-do {
  padding-top: 0;
}

.what-we-do figure {
  display: flex;
}

.main-page-header {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.what-we-do-images {
  display: flex;
  justify-content: space-between;
}

.label {
  position: relative;
}

.label > p {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 27px 0;
}

.our-team-background {
  background: #f5f4fa;
}

.our-team-images {
  display: flex;
  justify-content: space-between;
}
.our-team-images li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  gap: 30px;
}

.our-team-signature {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 30px 0;
}
.our-team-position {
  padding-top: 10px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-media-block {
  display: flex;
  gap: 10px;
  padding: 16px 32px 0;
  align-items: center;
}
.circle {
  border-radius: 50%;
  background-color: #f5f4fa;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.circle:hover {
  background-color: #2196f3;
}
.social-media-icon {
  fill: #afb1b8;
}

.social-media-icon:hover {
  fill: #ffffff;
}

.our-clients-logos {
  display: flex;
  justify-content: space-between;
}

.our-client-icon {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  cursor: pointer;
}

.our-client-icon:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer-background-color {
  background: #2f303a;
}
.footer {
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  font-family: "Raleway";
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  padding: 60px 0 20px 15px;
}
.logo-third-color {
  color: white;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 0 0 60px 15px;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-media {
  padding: 72px 0 0 70px;
}

.footer-social-media-block {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-social-media p {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}

.footer-circle {
  background-color: #ffffff1a;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}

.footer-circle:hover {
  background-color: #2196f3;
}
.footer-social-media-icon {
  fill: #ffffff;
}

.newsletter {
  width: 100%;
  display: flex;
  padding: 72px 0 0 77px;
}

.newsletter p {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.newsletter input {
  width: 358px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
  outline: none;
  height: 50px;
  padding-left: 16px;
}

.newsletter-button {
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  padding: 10px 0 10px 42px;
  margin-top: 36px;
  cursor: pointer;
}

.newsletter-button-icon {
  margin: 0 28px 0 24px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

/* Portfolio */

.portfolio-main-page {
  display: flex;
  flex-direction: column;
}
.portfolio-main-page-border {
  border-bottom: 1px solid #eeeeee;
}
.filters {
  margin: 0 auto;
  display: flex;
  gap: 8px;
}

.filters > button {
  font-size: 16px;
  background-color: #f5f4fa;
  letter-spacing: 0.03em;
  line-height: 1.625;
  border-radius: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  margin-bottom: 50px;
}

.filters > button:hover,
.filters > button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.wszystkie-menu-images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.image-border {
  border: 1px solid #eeeeee;
  cursor: pointer;
  position: relative;
}
.project-image {
  position: relative;
  overflow: hidden;
}

.hover-overlay {
  top: 0;
  position: absolute;
  z-index: -1;
  transform: translateY(100%);
}

.hover-overlay > p {
  color: #ffffff;
  padding: 49px 0 0 24px;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 28px;
}

.image-border:hover .hover-overlay {
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transition-property: transform, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
  transition-duration: 250ms;
  z-index: 1;
}

.image-border:hover,
.image-border:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.image-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding: 20px 24px;
}
.project-name {
  line-height: 2;
}

.group-name {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  font-weight: 400;
  padding-top: 4px;
}
