* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
  box-sizing: border-box;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
  background-color: #fff;
}

body {
  background-color: #e5e5e5;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.header {
  padding: 25px 27px 24px 15px;
  display: flex;
  gap: 93px;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #2196f3;
  letter-spacing: 0.03em;
}
.logo--black {
  color: #212121;
}

.menu-nav {
  width: 254px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-between;
}
.menu-nav--hover-color:hover {
  color: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  transform: translateY(29px);
  border-radius: 2px;
}

.contacts {
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.contacts--hover-color:hover, .contacts--hover-color:focus, .contacts--hover-color:hover {
  color: #2196f3;
  fill: #2196f3;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.contacts__icon-position {
  margin-right: 10px;
}

.contacts a {
  color: #757575;
  display: flex;
  align-items: center;
}

.welcome-section-background {
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/welcome-section-background-image.jpg);
}

.welcome-section {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}
.welcome-section__text {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 200px 252px 0;
  margin: 0 auto;
}
.welcome-section__button {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 41px 10px 42px;
  margin: 0 auto 200px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.article-section {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.article-section ul {
  display: flex;
  gap: 30px;
}
.article-section__logo {
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.article-header {
  font-weight: 700;
}
.article-header__paragraph {
  color: #757575;
}

.what-we-do-section {
  padding-top: 0;
}
.what-we-do-section__images {
  display: flex;
  justify-content: space-between;
}
.what-we-do-section figure {
  display: flex;
}

.section-header {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.images-label {
  position: relative;
}

.images-label > p {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 27px 0;
}

.our-team-background {
  background: #f5f4fa;
}

.our-team-section__images {
  display: flex;
  justify-content: space-between;
}
.our-team-section__images li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  gap: 30px;
}

.signature {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 30px 0;
}
.signature__position {
  padding-top: 10px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-media-block {
  display: flex;
  gap: 10px;
  padding: 16px 32px 0;
  align-items: center;
}
.social-media-block__icon {
  fill: #afb1b8;
}

.circle {
  border-radius: 50%;
  background-color: #f5f4fa;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.circle:hover {
  background-color: #2196f3;
}

.social-media-icon:hover {
  fill: #ffffff;
}

.our-clients-logos {
  display: flex;
  justify-content: space-between;
}

.client-icon {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  cursor: pointer;
}
.client-icon:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer-background-color {
  background: #2f303a;
}

.footer {
  display: flex;
  gap: 70px;
  padding: 60px 0;
  justify-content: space-between;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.logo--white {
  color: #fff;
}

.contacts--column {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-top: 20px;
}
.contacts--white {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contacts--grey {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social-media-section {
  padding-top: 9px;
}
.social-media-section p {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}

.social-media-block {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0;
}

.circle--grey {
  background-color: rgba(255, 255, 255, 0.1019607843);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}
.circle--grey:hover {
  background-color: #2196f3;
}

.social-media-icon {
  fill: #ffffff;
}

.newsletter {
  display: flex;
  padding-top: 9px;
}
.newsletter__form p {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.newsletter input {
  width: 358px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
  outline: none;
  height: 50px;
  padding-left: 16px;
}

.newsletter-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  padding: 10px 0 10px 42px;
  cursor: pointer;
}
.newsletter-button__icon {
  margin: 0 28px 0 24px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  transition: ease-in;
  transition-duration: 250ms;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 700;
}
.modal__form {
  width: 448px;
  margin: 0 auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: ease-in;
  transition-duration: 250ms;
  transform: translate(0%, 50%);
}

.modal-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal-form {
  width: 448px;
  margin: 0 auto;
}
.modal-form input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.modal-form label:not(:last-child) {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: #757575;
}
.modal-form textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.modal-form input:focus,
.modal-form textarea:focus {
  outline: none;
  border-color: #2196f3;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  padding: 10px 76px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.link-color {
  color: #2196f3;
  text-decoration: underline;
}

.form-icon {
  position: absolute;
}
.form-icon__position1 {
  top: 104px;
  left: 52px;
}
.form-icon__position2 {
  top: 172px;
  left: 52px;
}
.form-icon__position3 {
  top: 240px;
  left: 52px;
}

.modal-form__input:focus-within svg {
  fill: #2196f3;
}

/* Custom checkbox */
.checkbox-symbol {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}/*# sourceMappingURL=main.css.map */